.content {

  .item-block {
    position: relative;
    display: flex;
    align-items: center;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    padding: 10px;
    width: 600px;

    img {
      height: 50px;
      width: 50px;
    }

    .item-info {
      padding: 10px;
      width: 360px;

      p {
        font-weight: 700;
        font-size: 24px;
      }
    }

    .more-info {
      position: absolute;
      right: 80px;
      height: 40px;
      border: 1px solid transparent;
      border-radius: 10px;
      background: yellow;
      padding: 10px;
      color: black;
      outline: none;
      cursor: pointer;
    }

    .delete {
      position: absolute;
      right: 10px;
      font-size: 16px;
      font-family: Monseratt, sans-serif;
      height: 40px;
      border: 1px solid transparent;
      border-radius: 10px;
      padding: 10px;
      color: black;
      background: red;
      outline: none;
      cursor: pointer;
    }
  }
}
