header {
    background: green;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 100px;
    width: auto;
  }

  h1 {
    padding: 40px;
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    color: white;
  }
}

