.back-to-main {
  display: inline-block;
  margin: 20px 70px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: yellow;
  padding: 10px;
  color: black;
  outline: none;
  cursor: pointer;
}

.delete-movie {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 10px;
  background: red;
  padding: 10px 40px;
  color: black;
  margin-right: 500px;
  float: right;
  outline: none;
  cursor: pointer;
}

.delete-status {
  font-weight: 900;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.movie-item {
  border: 1px solid gray;
  border-radius: 10px;
  background: white;
  margin: 30px 100px;
  padding: 20px;
  display: flex;
  justify-content: center;

  img {
    height: 250px;
    width: 250px;
    margin-right: 100px;
  }

  .movie-more-info {

    .uniq-id {
      line-height: 40px;
    }

    .title {
      font-weight: 900;
      font-size: 50px;
      line-height: 70px;
    }

    .year {
      font-size: 24px;
      line-height: 40px;
    }

    .format {
      font-size: 18px;
      line-height: 40px;
    }

    .stars {
      font-size: 24px;
      line-height: 40px;
    }
  }
}

